[user]
  name  = fillu87gyc
  email = s1500604@sendai.kosen-ac.jp

[alias]
  st      = status
  cho     = checkout
  chob    = checkout -b
  b       = branch
  p       = push
  cm      = commit
  alls    = config --get-regexp alias.*
  shp     = stash pop
  sth     = stash save
  today   = log --oneline --since='15 hour ago'
  last    = log -1 HEAD
  d       = diff HEAD
  d1      = diff HEAD~
  d2      = diff HEAD~2
  d3      = diff HEAD~3
  grh     = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(bold white)%s%C(reset)  %C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
  mg      = merge
  db      = !git branch | grep -v 'dev' | grep -v 'master' | xargs git branch -d 2> /dev/null
  pin     = push -u origin
  rename  = commit --amend
  ref     = reflog
  bd      = push origin --delete
  rget    = remote prune origin
  lg      = log
  rereset = reset --hard HEAD@{1}
  alias   = !"if test -z $1; then loop=; for k in `git config --get-regexp ^alias\\. | sort | sed -e 's/^alias\\.\\(\\S*\\).*/\\1/g'`; do echo -n $k; loop="${loop}1"; if test ${#loop} -lt 5; then echo -n '\t'; else echo; loop=; fi; done; exit; fi; git config --list | grep ^alias\\.$1= | sed -e s/^alias\\.//; exit;"
  delcm   = reset --soft HEAD^
  a       = add .
[push]
  default = simple

[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean   = git-lfs clean -- %f
  smudge  = git-lfs smudge -- %f

[core]
  autoCRLF = false
  editor = "/usr/local/bin/nvim"

[commit]
  template = /Users/fill/dotfiles/git/git_template/.git_commit_log_temp

[init]
  templatedir = /Users/fill/dotfiles/git/git_template
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path = 
[mergetool "sourcetree"]
  cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[ghq]
  root = ~/src
[merge]
  ff = false
  template = /Users/fill/dotfiles/git/git_template/.git_merge_log_template
[pull]
  ff = only
